.header
  %p Header
  %form{:action => "/", :method => "post"}
    %label{:for => "user"}  
    %input{:type => "text", :name => "user"}
    %input{:type => "submit", :value => "do"}
    
  %nav
    %li 
      %a{:href => "/"} home      
      